*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

:root {
  --css-interop-darkMode: media;
  --css-interop: true;
  --css-interop-nativewind: true;
  --color-lime-light-1: 252 253 250;
  --color-lime-light-2: 247 252 240;
  --color-lime-light-3: 238 250 220;
  --color-lime-light-4: 228 247 199;
  --color-lime-light-5: 215 242 176;
  --color-lime-light-6: 202 232 148;
  --color-lime-light-7: 177 209 106;
  --color-lime-light-8: 148 186 44;
  --color-lime-light-9: 153 213 42;
  --color-lime-light-10: 147 201 38;
  --color-lime-light-11: 93 119 13;
  --color-lime-light-12: 38 50 9;
  --color-lime-dark-1: 2 24 7;
  --color-lime-dark-2: 2 29 8;
  --color-lime-dark-3: 3 38 13;
  --color-lime-dark-4: 3 46 15;
  --color-lime-dark-5: 4 55 17;
  --color-lime-dark-6: 5 66 19;
  --color-lime-dark-7: 6 82 21;
  --color-lime-dark-8: 8 103 22;
  --color-lime-dark-9: 15 213 42;
  --color-lime-dark-10: 19 240 66;
  --color-lime-dark-11: 13 190 34;
  --color-lime-dark-12: 23 251 221;
  --color-red-light-1: 255 252 252;
  --color-red-light-2: 255 248 248;
  --color-red-light-3: 255 239 239;
  --color-red-light-4: 255 229 229;
  --color-red-light-5: 253 216 216;
  --color-red-light-6: 249 199 199;
  --color-red-light-7: 243 174 175;
  --color-red-light-8: 235 144 145;
  --color-red-light-9: 229 72 77;
  --color-red-light-10: 220 62 67;
  --color-red-light-11: 205 44 49;
  --color-red-light-12: 56 19 22;
  --color-red-dark-1: 31 19 21;
  --color-red-dark-2: 41 20 21;
  --color-red-dark-3: 60 24 26;
  --color-red-dark-4: 72 26 29;
  --color-red-dark-5: 84 27 31;
  --color-red-dark-6: 103 30 34;
  --color-red-dark-7: 130 32 37;
  --color-red-dark-8: 170 36 41;
  --color-red-dark-9: 229 72 77;
  --color-red-dark-10: 242 85 90;
  --color-red-dark-11: 255 100 105;
  --color-red-dark-12: 254 236 238;
  --color-slate-light-1: 251 252 253;
  --color-slate-light-2: 248 249 250;
  --color-slate-light-3: 241 243 245;
  --color-slate-light-4: 236 238 240;
  --color-slate-light-5: 230 233 235;
  --color-slate-light-6: 224 227 230;
  --color-slate-light-7: 215 219 223;
  --color-slate-light-8: 193 200 205;
  --color-slate-light-9: 136 144 150;
  --color-slate-light-10: 126 134 140;
  --color-slate-light-11: 104 112 118;
  --color-slate-light-12: 17 24 29;
  --color-slate-dark-1: 21 23 24;
  --color-slate-dark-2: 26 29 30;
  --color-slate-dark-3: 32 36 37;
  --color-slate-dark-4: 38 41 43;
  --color-slate-dark-5: 43 47 49;
  --color-slate-dark-6: 49 53 56;
  --color-slate-dark-7: 58 63 66;
  --color-slate-dark-8: 76 81 85;
  --color-slate-dark-9: 105 113 119;
  --color-slate-dark-10: 120 127 133;
  --color-slate-dark-11: 155 161 166;
  --color-slate-dark-12: 236 237 238;
  --color-cyan-light-1: 250 253 254;
  --color-cyan-light-2: 242 252 253;
  --color-cyan-light-3: 231 249 251;
  --color-cyan-light-4: 216 243 246;
  --color-cyan-light-5: 196 234 240;
  --color-cyan-light-6: 170 222 230;
  --color-cyan-light-7: 132 205 218;
  --color-cyan-light-8: 61 185 207;
  --color-cyan-light-9: 5 162 194;
  --color-cyan-light-10: 8 148 179;
  --color-cyan-light-11: 12 119 146;
  --color-cyan-light-12: 4 49 60;
  --color-cyan-dark-1: 7 25 29;
  --color-cyan-dark-2: 6 30 36;
  --color-cyan-dark-3: 7 40 48;
  --color-cyan-dark-4: 7 48 59;
  --color-cyan-dark-5: 7 56 68;
  --color-cyan-dark-6: 6 66 80;
  --color-cyan-dark-7: 4 80 99;
  --color-cyan-dark-8: 0 100 125;
  --color-cyan-dark-9: 5 162 194;
  --color-cyan-dark-10: 0 177 204;
  --color-cyan-dark-11: 0 194 215;
  --color-cyan-dark-12: 225 248 250;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.mt-\[2px\] {
  margin-top: 2px;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[40px\] {
  height: 40px;
}

.w-\[40px\] {
  width: 40px;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.basis-1 {
  flex-basis: 0.25rem;
}

.origin-center {
  transform-origin: center;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-accent-9 {
  border-color: rgb(var(--color-accent-9) / 1);
}

.border-primary-7 {
  border-color: rgb(var(--color-primary-7) / 1);
}

.bg-accent-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-1) / var(--tw-bg-opacity));
}

.bg-accent-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-10) / var(--tw-bg-opacity));
}

.bg-accent-11 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-11) / var(--tw-bg-opacity));
}

.bg-accent-12 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-12) / var(--tw-bg-opacity));
}

.bg-accent-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-2) / var(--tw-bg-opacity));
}

.bg-accent-3 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-3) / var(--tw-bg-opacity));
}

.bg-accent-4 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-4) / var(--tw-bg-opacity));
}

.bg-accent-5 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-5) / var(--tw-bg-opacity));
}

.bg-accent-6 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-6) / var(--tw-bg-opacity));
}

.bg-accent-7 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-7) / var(--tw-bg-opacity));
}

.bg-accent-8 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-8) / var(--tw-bg-opacity));
}

.bg-accent-9 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-accent-9) / var(--tw-bg-opacity));
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-2) / var(--tw-bg-opacity));
}

.bg-primary-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-1) / var(--tw-bg-opacity));
}

.bg-primary-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-10) / var(--tw-bg-opacity));
}

.bg-primary-11 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-11) / var(--tw-bg-opacity));
}

.bg-primary-12 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-12) / var(--tw-bg-opacity));
}

.bg-primary-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-2) / var(--tw-bg-opacity));
}

.bg-primary-3 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-3) / var(--tw-bg-opacity));
}

.bg-primary-4 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-4) / var(--tw-bg-opacity));
}

.bg-primary-5 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-5) / var(--tw-bg-opacity));
}

.bg-primary-6 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-6) / var(--tw-bg-opacity));
}

.bg-primary-7 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-7) / var(--tw-bg-opacity));
}

.bg-primary-8 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-8) / var(--tw-bg-opacity));
}

.bg-primary-9 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-9) / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.text-center {
  text-align: center;
}

.font-body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-chinese {
  font-family: MaShanZheng-Regular;
}

.font-title {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-accent-10 {
  color: rgb(var(--color-accent-10) / 1);
}

.text-accent-9 {
  color: rgb(var(--color-accent-9) / 1);
}

.text-primary-10 {
  color: rgb(var(--color-primary-10) / 1);
}

.text-primary-11 {
  color: rgb(var(--color-primary-11) / 1);
}

.text-primary-12 {
  color: rgb(var(--color-primary-12) / 1);
}

.text-primary-9 {
  color: rgb(var(--color-primary-9) / 1);
}

.text-text {
  color: rgb(var(--color-primary-12) / 1);
}

.opacity-50 {
  opacity: 0.5;
}

.outline {
  outline-style: solid;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.dark-theme {
  --color-primary-1: var(--color-slate-dark-1);
  --color-primary-2: var(--color-slate-dark-2);
  --color-primary-3: var(--color-slate-dark-3);
  --color-primary-4: var(--color-slate-dark-4);
  --color-primary-5: var(--color-slate-dark-5);
  --color-primary-6: var(--color-slate-dark-6);
  --color-primary-7: var(--color-slate-dark-7);
  --color-primary-8: var(--color-slate-dark-8);
  --color-primary-9: var(--color-slate-dark-9);
  --color-primary-10: var(--color-slate-dark-10);
  --color-primary-11: var(--color-slate-dark-11);
  --color-primary-12: var(--color-slate-dark-12);
  --color-accent-1: var(--color-cyan-dark-1);
  --color-accent-2: var(--color-cyan-dark-2);
  --color-accent-3: var(--color-cyan-dark-3);
  --color-accent-4: var(--color-cyan-dark-4);
  --color-accent-5: var(--color-cyan-dark-5);
  --color-accent-6: var(--color-cyan-dark-6);
  --color-accent-7: var(--color-cyan-dark-7);
  --color-accent-8: var(--color-cyan-dark-8);
  --color-accent-9: var(--color-cyan-dark-9);
  --color-accent-10: var(--color-cyan-dark-10);
  --color-accent-11: var(--color-cyan-dark-11);
  --color-accent-12: var(--color-cyan-dark-12);
  --color-red-1: var(--color-red-dark-1);
  --color-red-2: var(--color-red-dark-2);
  --color-red-3: var(--color-red-dark-3);
  --color-red-4: var(--color-red-dark-4);
  --color-red-5: var(--color-red-dark-5);
  --color-red-6: var(--color-red-dark-6);
  --color-red-7: var(--color-red-dark-7);
  --color-red-8: var(--color-red-dark-8);
  --color-red-9: var(--color-red-dark-9);
  --color-red-10: var(--color-red-dark-10);
  --color-red-11: var(--color-red-dark-11);
  --color-red-12: var(--color-red-dark-12);
  --color-lime-1: var(--color-lime-dark-1);
  --color-lime-2: var(--color-lime-dark-2);
  --color-lime-3: var(--color-lime-dark-3);
  --color-lime-4: var(--color-lime-dark-4);
  --color-lime-5: var(--color-lime-dark-5);
  --color-lime-6: var(--color-lime-dark-6);
  --color-lime-7: var(--color-lime-dark-7);
  --color-lime-8: var(--color-lime-dark-8);
  --color-lime-9: var(--color-lime-dark-9);
  --color-lime-10: var(--color-lime-dark-10);
  --color-lime-11: var(--color-lime-dark-11);
  --color-lime-12: var(--color-lime-dark-12);
}

.light-theme {
  --color-primary-1: var(--color-slate-light-1);
  --color-primary-2: var(--color-slate-light-2);
  --color-primary-3: var(--color-slate-light-3);
  --color-primary-4: var(--color-slate-light-4);
  --color-primary-5: var(--color-slate-light-5);
  --color-primary-6: var(--color-slate-light-6);
  --color-primary-7: var(--color-slate-light-7);
  --color-primary-8: var(--color-slate-light-8);
  --color-primary-9: var(--color-slate-light-9);
  --color-primary-10: var(--color-slate-light-10);
  --color-primary-11: var(--color-slate-light-11);
  --color-primary-12: var(--color-slate-light-12);
  --color-accent-1: var(--color-cyan-light-1);
  --color-accent-2: var(--color-cyan-light-2);
  --color-accent-3: var(--color-cyan-light-3);
  --color-accent-4: var(--color-cyan-light-4);
  --color-accent-5: var(--color-cyan-light-5);
  --color-accent-6: var(--color-cyan-light-6);
  --color-accent-7: var(--color-cyan-light-7);
  --color-accent-8: var(--color-cyan-light-8);
  --color-accent-9: var(--color-cyan-light-9);
  --color-accent-10: var(--color-cyan-light-10);
  --color-accent-11: var(--color-cyan-light-11);
  --color-accent-12: var(--color-cyan-light-12);
  --color-red-1: var(--color-red-light-1);
  --color-red-2: var(--color-red-light-2);
  --color-red-3: var(--color-red-light-3);
  --color-red-4: var(--color-red-light-4);
  --color-red-5: var(--color-red-light-5);
  --color-red-6: var(--color-red-light-6);
  --color-red-7: var(--color-red-light-7);
  --color-red-8: var(--color-red-light-8);
  --color-red-9: var(--color-red-light-9);
  --color-red-10: var(--color-red-light-10);
  --color-red-11: var(--color-red-light-11);
  --color-red-12: var(--color-red-light-12);
  --color-lime-1: var(--color-lime-light-1);
  --color-lime-2: var(--color-lime-light-2);
  --color-lime-3: var(--color-lime-light-3);
  --color-lime-4: var(--color-lime-light-4);
  --color-lime-5: var(--color-lime-light-5);
  --color-lime-6: var(--color-lime-light-6);
  --color-lime-7: var(--color-lime-light-7);
  --color-lime-8: var(--color-lime-light-8);
  --color-lime-9: var(--color-lime-light-9);
  --color-lime-10: var(--color-lime-light-10);
  --color-lime-11: var(--color-lime-light-11);
  --color-lime-12: var(--color-lime-light-12);
}

.danger-theme {
  --color-accent-1: var(--color-red-1);
  --color-accent-2: var(--color-red-2);
  --color-accent-3: var(--color-red-3);
  --color-accent-4: var(--color-red-4);
  --color-accent-5: var(--color-red-5);
  --color-accent-6: var(--color-red-6);
  --color-accent-7: var(--color-red-7);
  --color-accent-8: var(--color-red-8);
  --color-accent-9: var(--color-red-9);
  --color-accent-10: var(--color-red-10);
  --color-accent-11: var(--color-red-11);
  --color-accent-12: var(--color-red-12);
}

.success-theme {
  --color-accent-1: var(--color-lime-1);
  --color-accent-2: var(--color-lime-2);
  --color-accent-3: var(--color-lime-3);
  --color-accent-4: var(--color-lime-4);
  --color-accent-5: var(--color-lime-5);
  --color-accent-6: var(--color-lime-6);
  --color-accent-7: var(--color-lime-7);
  --color-accent-8: var(--color-lime-8);
  --color-accent-9: var(--color-lime-9);
  --color-accent-10: var(--color-lime-10);
  --color-accent-11: var(--color-lime-11);
  --color-accent-12: var(--color-lime-12);
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-2) / var(--tw-bg-opacity));
  --color-primary-1: var(--color-slate-light-1);
  --color-primary-2: var(--color-slate-light-2);
  --color-primary-3: var(--color-slate-light-3);
  --color-primary-4: var(--color-slate-light-4);
  --color-primary-5: var(--color-slate-light-5);
  --color-primary-6: var(--color-slate-light-6);
  --color-primary-7: var(--color-slate-light-7);
  --color-primary-8: var(--color-slate-light-8);
  --color-primary-9: var(--color-slate-light-9);
  --color-primary-10: var(--color-slate-light-10);
  --color-primary-11: var(--color-slate-light-11);
  --color-primary-12: var(--color-slate-light-12);
  --color-accent-1: var(--color-cyan-light-1);
  --color-accent-2: var(--color-cyan-light-2);
  --color-accent-3: var(--color-cyan-light-3);
  --color-accent-4: var(--color-cyan-light-4);
  --color-accent-5: var(--color-cyan-light-5);
  --color-accent-6: var(--color-cyan-light-6);
  --color-accent-7: var(--color-cyan-light-7);
  --color-accent-8: var(--color-cyan-light-8);
  --color-accent-9: var(--color-cyan-light-9);
  --color-accent-10: var(--color-cyan-light-10);
  --color-accent-11: var(--color-cyan-light-11);
  --color-accent-12: var(--color-cyan-light-12);
  --color-red-1: var(--color-red-light-1);
  --color-red-2: var(--color-red-light-2);
  --color-red-3: var(--color-red-light-3);
  --color-red-4: var(--color-red-light-4);
  --color-red-5: var(--color-red-light-5);
  --color-red-6: var(--color-red-light-6);
  --color-red-7: var(--color-red-light-7);
  --color-red-8: var(--color-red-light-8);
  --color-red-9: var(--color-red-light-9);
  --color-red-10: var(--color-red-light-10);
  --color-red-11: var(--color-red-light-11);
  --color-red-12: var(--color-red-light-12);
  --color-lime-1: var(--color-lime-light-1);
  --color-lime-2: var(--color-lime-light-2);
  --color-lime-3: var(--color-lime-light-3);
  --color-lime-4: var(--color-lime-light-4);
  --color-lime-5: var(--color-lime-light-5);
  --color-lime-6: var(--color-lime-light-6);
  --color-lime-7: var(--color-lime-light-7);
  --color-lime-8: var(--color-lime-light-8);
  --color-lime-9: var(--color-lime-light-9);
  --color-lime-10: var(--color-lime-light-10);
  --color-lime-11: var(--color-lime-light-11);
  --color-lime-12: var(--color-lime-light-12);
}

body.dark {
  --color-primary-1: var(--color-slate-dark-1);
  --color-primary-2: var(--color-slate-dark-2);
  --color-primary-3: var(--color-slate-dark-3);
  --color-primary-4: var(--color-slate-dark-4);
  --color-primary-5: var(--color-slate-dark-5);
  --color-primary-6: var(--color-slate-dark-6);
  --color-primary-7: var(--color-slate-dark-7);
  --color-primary-8: var(--color-slate-dark-8);
  --color-primary-9: var(--color-slate-dark-9);
  --color-primary-10: var(--color-slate-dark-10);
  --color-primary-11: var(--color-slate-dark-11);
  --color-primary-12: var(--color-slate-dark-12);
  --color-accent-1: var(--color-cyan-dark-1);
  --color-accent-2: var(--color-cyan-dark-2);
  --color-accent-3: var(--color-cyan-dark-3);
  --color-accent-4: var(--color-cyan-dark-4);
  --color-accent-5: var(--color-cyan-dark-5);
  --color-accent-6: var(--color-cyan-dark-6);
  --color-accent-7: var(--color-cyan-dark-7);
  --color-accent-8: var(--color-cyan-dark-8);
  --color-accent-9: var(--color-cyan-dark-9);
  --color-accent-10: var(--color-cyan-dark-10);
  --color-accent-11: var(--color-cyan-dark-11);
  --color-accent-12: var(--color-cyan-dark-12);
  --color-red-1: var(--color-red-dark-1);
  --color-red-2: var(--color-red-dark-2);
  --color-red-3: var(--color-red-dark-3);
  --color-red-4: var(--color-red-dark-4);
  --color-red-5: var(--color-red-dark-5);
  --color-red-6: var(--color-red-dark-6);
  --color-red-7: var(--color-red-dark-7);
  --color-red-8: var(--color-red-dark-8);
  --color-red-9: var(--color-red-dark-9);
  --color-red-10: var(--color-red-dark-10);
  --color-red-11: var(--color-red-dark-11);
  --color-red-12: var(--color-red-dark-12);
  --color-lime-1: var(--color-lime-dark-1);
  --color-lime-2: var(--color-lime-dark-2);
  --color-lime-3: var(--color-lime-dark-3);
  --color-lime-4: var(--color-lime-dark-4);
  --color-lime-5: var(--color-lime-dark-5);
  --color-lime-6: var(--color-lime-dark-6);
  --color-lime-7: var(--color-lime-dark-7);
  --color-lime-8: var(--color-lime-dark-8);
  --color-lime-9: var(--color-lime-dark-9);
  --color-lime-10: var(--color-lime-dark-10);
  --color-lime-11: var(--color-lime-dark-11);
  --color-lime-12: var(--color-lime-dark-12);
}

@media (prefers-color-scheme: dark) {
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-2) / var(--tw-bg-opacity));
    --color-primary-1: var(--color-slate-dark-1);
    --color-primary-2: var(--color-slate-dark-2);
    --color-primary-3: var(--color-slate-dark-3);
    --color-primary-4: var(--color-slate-dark-4);
    --color-primary-5: var(--color-slate-dark-5);
    --color-primary-6: var(--color-slate-dark-6);
    --color-primary-7: var(--color-slate-dark-7);
    --color-primary-8: var(--color-slate-dark-8);
    --color-primary-9: var(--color-slate-dark-9);
    --color-primary-10: var(--color-slate-dark-10);
    --color-primary-11: var(--color-slate-dark-11);
    --color-primary-12: var(--color-slate-dark-12);
    --color-accent-1: var(--color-cyan-dark-1);
    --color-accent-2: var(--color-cyan-dark-2);
    --color-accent-3: var(--color-cyan-dark-3);
    --color-accent-4: var(--color-cyan-dark-4);
    --color-accent-5: var(--color-cyan-dark-5);
    --color-accent-6: var(--color-cyan-dark-6);
    --color-accent-7: var(--color-cyan-dark-7);
    --color-accent-8: var(--color-cyan-dark-8);
    --color-accent-9: var(--color-cyan-dark-9);
    --color-accent-10: var(--color-cyan-dark-10);
    --color-accent-11: var(--color-cyan-dark-11);
    --color-accent-12: var(--color-cyan-dark-12);
    --color-red-1: var(--color-red-dark-1);
    --color-red-2: var(--color-red-dark-2);
    --color-red-3: var(--color-red-dark-3);
    --color-red-4: var(--color-red-dark-4);
    --color-red-5: var(--color-red-dark-5);
    --color-red-6: var(--color-red-dark-6);
    --color-red-7: var(--color-red-dark-7);
    --color-red-8: var(--color-red-dark-8);
    --color-red-9: var(--color-red-dark-9);
    --color-red-10: var(--color-red-dark-10);
    --color-red-11: var(--color-red-dark-11);
    --color-red-12: var(--color-red-dark-12);
    --color-lime-1: var(--color-lime-dark-1);
    --color-lime-2: var(--color-lime-dark-2);
    --color-lime-3: var(--color-lime-dark-3);
    --color-lime-4: var(--color-lime-dark-4);
    --color-lime-5: var(--color-lime-dark-5);
    --color-lime-6: var(--color-lime-dark-6);
    --color-lime-7: var(--color-lime-dark-7);
    --color-lime-8: var(--color-lime-dark-8);
    --color-lime-9: var(--color-lime-dark-9);
    --color-lime-10: var(--color-lime-dark-10);
    --color-lime-11: var(--color-lime-dark-11);
    --color-lime-12: var(--color-lime-dark-12);
  }

  body.light {
    --color-primary-1: var(--color-slate-light-1);
    --color-primary-2: var(--color-slate-light-2);
    --color-primary-3: var(--color-slate-light-3);
    --color-primary-4: var(--color-slate-light-4);
    --color-primary-5: var(--color-slate-light-5);
    --color-primary-6: var(--color-slate-light-6);
    --color-primary-7: var(--color-slate-light-7);
    --color-primary-8: var(--color-slate-light-8);
    --color-primary-9: var(--color-slate-light-9);
    --color-primary-10: var(--color-slate-light-10);
    --color-primary-11: var(--color-slate-light-11);
    --color-primary-12: var(--color-slate-light-12);
    --color-accent-1: var(--color-cyan-light-1);
    --color-accent-2: var(--color-cyan-light-2);
    --color-accent-3: var(--color-cyan-light-3);
    --color-accent-4: var(--color-cyan-light-4);
    --color-accent-5: var(--color-cyan-light-5);
    --color-accent-6: var(--color-cyan-light-6);
    --color-accent-7: var(--color-cyan-light-7);
    --color-accent-8: var(--color-cyan-light-8);
    --color-accent-9: var(--color-cyan-light-9);
    --color-accent-10: var(--color-cyan-light-10);
    --color-accent-11: var(--color-cyan-light-11);
    --color-accent-12: var(--color-cyan-light-12);
    --color-red-1: var(--color-red-light-1);
    --color-red-2: var(--color-red-light-2);
    --color-red-3: var(--color-red-light-3);
    --color-red-4: var(--color-red-light-4);
    --color-red-5: var(--color-red-light-5);
    --color-red-6: var(--color-red-light-6);
    --color-red-7: var(--color-red-light-7);
    --color-red-8: var(--color-red-light-8);
    --color-red-9: var(--color-red-light-9);
    --color-red-10: var(--color-red-light-10);
    --color-red-11: var(--color-red-light-11);
    --color-red-12: var(--color-red-light-12);
    --color-lime-1: var(--color-lime-light-1);
    --color-lime-2: var(--color-lime-light-2);
    --color-lime-3: var(--color-lime-light-3);
    --color-lime-4: var(--color-lime-light-4);
    --color-lime-5: var(--color-lime-light-5);
    --color-lime-6: var(--color-lime-light-6);
    --color-lime-7: var(--color-lime-light-7);
    --color-lime-8: var(--color-lime-light-8);
    --color-lime-9: var(--color-lime-light-9);
    --color-lime-10: var(--color-lime-light-10);
    --color-lime-11: var(--color-lime-light-11);
    --color-lime-12: var(--color-lime-light-12);
  }
}

@media (min-width: 640px) {
  .sm\:justify-start {
    justify-content: flex-start;
  }
}
